* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(190, 221, 255);
    background-image: url("../images/2.png");
    background-size: auto;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.603);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #494949;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10% 0 10%;
    border-radius: 10px;
    width: 400px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    position: relative;
}

nav ul li a i {
    font-size: 30px;
}

nav ul li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav ul li a:hover:before {
    transform: scaleX(1);
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgb(121, 197, 248);
}

.logo {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
}

.logo a h1 {
    font-family: "Segoe Script";
}

.form-container {
    background-color: rgb(190, 221, 255);
    border-radius: 40px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgb(228, 240, 253);
    padding: 40px 30px;
    width: 500px;
    margin-top: 100px;
    animation-name: border-radius-animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    border: 5px solid#dbf3ff;
}

.details-container p {
    font-size: 18px;
    font-family: "Calibri";
}

.details-container p strong {
    font-family: "Calibri";
}

.about-container h2 {
    font-size: 30px;
    font-family: "Calibri";
}

.about-container p {
    font-size: 18px;
    font-family: "Calibri";
    text-indent: 50px;
    text-align: justify;
}

.img_det-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_2 {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-bottom: 5px solid whitesmoke;
    animation-name: border-radius-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

#resume-btn {
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgb(228, 240, 253);
    padding: 10px 0;
    background-color: rgb(190, 221, 255);
}

#resume-btn a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 24px;
    font-family: "Calibri";
}

.other-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
}

.other-container h1 {
    background-color: rgb(190, 221, 255);
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 10px;
    font-family: "Segoe Script";
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541),
                0 -10px 10px rgba(0, 0, 0, 0.541);
    margin: 50px 0;
}

.other-container h1 a {
    text-decoration: none;
    color: black;
    font-family: "Impact";
    font-weight: normal;
}
.other-container h1 a span {
    color: red;
    font-family: "Impact";
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-box1 {
    border: 3px solid black;
    width: 350px;
    height: 350px;
    margin: 30px;
    border: 5px solid #dbf3ff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541),
                0 -10px 10px rgba(0, 0, 0, 0.541);
    border-radius: 50px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.img-box2 {
    border: 3px solid black;
    width: 450px;
    height: 320px;
    margin: 30px;
    border: 5px solid #dbf3ff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541),
                0 -10px 10px rgba(0, 0, 0, 0.541);
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 130px; 
    transition: .7s ease-in-out;
}

.images-container .img-box1 img {
    width: 340px;
    height: 340px;
    transition: .5 ease-in-out;
}

.images-container .img-box2 img {
    width: 450px;
    height: 320px;
}

.img-box1:hover {
    border-radius: 50%;
    box-shadow: 0 10px 10px rgb(0, 0, 0),
                0 -10px 10px rgba(0, 0, 0, 0.459);
}

.img-box2:hover {
    border-radius: 80px;
    box-shadow: 0 10px 10px rgb(0, 0, 0),
                0 -10px 10px rgba(0, 0, 0, 0.5);
}


.video-container {
    width: 340px;
    height: 800px;
    margin: 20px 40px;
    box-shadow: 0 10px 10px rgb(190, 221, 255),
    0 -10px 10px rgb(190, 221, 255);
    border-radius: 100px;
    overflow: hidden;
    background-color: white;
    border: 10px solid #dbf3ff;
}

.section-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.section-content {
    font-size: 18px;
}

#img_box {
    margin: auto;
    border: 5px solid black;
    height: 300px;
    width: 300px;
    background-color: #333;
    animation-name: border-radius-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.603);
}

#image_1 {
    height: 300px;
    width: 300px;
}


#contact {
    background-color: #333;
    color: #fff;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 270px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contact-box-left {
    margin: 0 10px;
}

.contact-box-right {
    margin: 0 10px;
}

#contact ul {
    background-color: #494949;
    height: 80px;
    width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact ul li {
    list-style-type: none;
    font-family: "Calibri";
    text-align: left;
}

#contact p {
    font-family: "Calibri";
    background-color: #494949;
    height: 60px;
    width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.603);
}

#contact h2 {
    font-family: "Calibri";
    font-size: 40px;
}

#contact a {
    color: #8f8f8f3f;
    font-family: "Calibri";
}

.cr-link {
    font-family: "Calibri";
    color:  #8f8f8f3f;
}

#home h1 {
    font-size: 40px;
    background-color: rgb(190, 221, 255);
    border-radius: 20px 20px 0 0;
    font-family: "Impact";
}

#home h1 strong {
    color: rgb(243, 72, 72);
    font-family: "Impact";
}

#home p {
    border-radius: 0 0 50px 50px;
    font-size: 24px;
    margin-bottom: 30px;
    width: 250px;
    background-color: rgb(190, 221, 255);
    font-family: "Segoe Script";
}

#home {
    height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#about {
    padding: 0 100px;
    background-color: #333;
    color: #333;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541),
                0 -10px 10px rgba(0, 0, 0, 0.541);
}

#about p {
    background-color: rgb(190, 221, 255);
    padding: 30px 30px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.541),
                0 -3px 5px rgba(0, 0, 0, 0.541);
    animation-name: border-radius-animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    font-family: "Calibri";
    text-indent: 50px;
}

.line {
    width: 50%;
    height: 30px;
    background-color: #333;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgb(228, 240, 253);
    border-radius: 20px;
    border: 5px solid #585858;
}

@media only screen and (max-device-width: 480px) {
    #about {
        padding: 0 10px;
        height: 40vh;
    }
    .form-container {
        background-color: rgb(190, 221, 255);
        border-radius: 40px;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgb(228, 240, 253);
        padding: 40px 30px;
        width: 95vw;
        margin-top: 100px;
        animation-name: border-radius-animation2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        overflow: hidden;
        border: 5px solid#dbf3ff;
    }
    .img_det-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img_2 {
        margin: 0;
    }
    .about-container p {
        font-size: 16px;
    }
    .other-container{
        width: 100%;
        margin: 0;
    }
    .img-box1 {
        margin: 30px 0;
    }
    .img-box2 {
        border: 3px solid black;
        width: 380px;
        height: 250px;
        margin: 30px 0;
        border: 5px solid #dbf3ff;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.541),
                    0 -10px 10px rgba(0, 0, 0, 0.541);
        border-radius: 50px;
        overflow: hidden;
        margin-bottom: 130px; 
        transition: .7s ease-in-out;
    }
    .images-container .img-box2 img {
        width: 380px;
        height: 250px;
    }
    
    #contact {
        border-radius: 30% 30% 0 0;
        width: 100vw;
        height: 270px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #contact ul {
        height: 90px;
        width: fit-content;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #contact p {
        height: 60px;
        width:fit-content;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 16px;
    }

    #contact h2 {
        font-size: 40px;
    }
}

@keyframes border-radius-animation {
    0% {
      border-radius: 30% 100% 100% 100%;
    }
    25% {
        border-radius: 100% 30% 100% 100%;
    }
    50%{
        border-radius: 100% 100% 30% 100%;
    }
    75%{
        border-radius: 100% 100% 100% 30%;
    }
    100% {
      border-radius: 30% 100% 100% 100%;
    }
}

@keyframes border-radius-animation2 {
    0% {
      border-radius: 50px 100px 100px 100px;
    }
    25% {
        border-radius: 100px 50px 100px 100px;
    }
    50%{
        border-radius: 100px 100px 50px 100px;
    }
    75%{
        border-radius: 100px 100px 100px 50px;
    }
    100% {
      border-radius: 50px 100px 100px 100px;
    }
}

  