body {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(190, 221, 255);
    height: 100vh;
    background-image: url('../images/2.png');
    background-size:auto;
    background-blend-mode:soft-light;
}

/* body div {
    background-image: url('../images/image_2.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
} */

body div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.img-container {
    float: right;
}

.img-container img {
    width: 600px;
    height: 600px;
    border-bottom: 5px solid whitesmoke;
    animation-name: border-radius-animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden;
}

nav {
    
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 0 0 0 10%;
    height: 100vh;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 0;
    width: fit-content;
}

nav ul li a {
    font-size: 130px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
}

nav ul li a:hover {
    color: rgb(243, 72, 72);
}

nav ul #about a:hover:before {
    content: "About";
}

nav ul #work a:hover:before {
    content: "Work";
}

nav ul #contact a:hover:before {
    content: "Contact";
}

nav ul li a:hover span {
    display: none;
}

.hide {
    visibility: hidden;
}

@media only screen and (max-device-width: 480px) {
    body div {
        flex-direction: column;
    }
    nav {
        width:fit-content;
        margin: 100px 0 0 0;
        height: 30px;
    }
    nav ul {
        display: flex;
        justify-content:space-around;
        align-items:center;
        flex-direction: row;
        width: 100vw;
        position: relative;
        top: -35%;
    }

    nav ul li {
        width: fit-content;
    }
    
    nav ul li a {
        font-size: 50px;
    }
    .hide {
        visibility: visible;
        width: 100vw;
        text-align: center;
    }
    .hide p {
        color: #ffffff;
        font-size: 18px;
    }
    .img-container img {
        width: 390px;
        height: 390px;
        border-bottom: 5px solid whitesmoke;
        animation-name: border-radius-animation2;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        overflow: hidden;
    }
 }

 @keyframes border-radius-animation2 {
    0% {
      border-radius: 50px 100px 100px 100px;
    }
    25% {
        border-radius: 100px 50px 100px 100px;
    }
    50%{
        border-radius: 100px 100px 50px 100px;
    }
    75%{
        border-radius: 100px 100px 100px 50px;
    }
    100% {
      border-radius: 50px 100px 100px 100px;
    }
  }